/* You can add global styles to this file, and also import other style files */
body {
  background-color: black !important;
  background-image: url('./assets/images/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none !important;
}
