<main>
  <form>
    <div class="input-group input-group-lg">
      <input (change)="changeFormValue($event)" class="form-control" type="text" name="firstname" placeholder="Firstname">
      <input (change)="changeFormValue($event)" class="form-control" type="text" name="lastname" placeholder="Lastname">
    </div>

    <div class="input-group input-group-lg">
      <input (change)="changeFormValue($event)" class="form-control" type="text" name="username" placeholder="Username">
    </div>

    <div class="input-group input-group-lg">
      <input (change)="changeFormValue($event)" class="form-control" type="text" name="email" placeholder="E-mail">
    </div>

    <div class="input-group input-group-lg">
      <input (change)="changeFormValue($event)" class="form-control" type="password" name="password" placeholder="Password">
    </div>

    <div class="input-group input-group-lg">
      <input (change)="changeFormValue($event)" class="form-control" type="password" name="passwordRepeat" placeholder="Repeat password">
    </div>

    <div class="input-group input-group-lg form-center">
      <button (click)="onFormSubmit($event, loginForm)" class="btn btn-lg btn-secondary">Register</button>
    </div>

    <div [ngClass]="statusMessageClasses()">
      {{ statusMessage }}
    </div>

    <div class="form-center">
      <a href="login">Or login</a>
    </div>
  </form>
</main>
