@import "../../../../assets/css/chat.css";
.header {
  background-color: #1E2529;
  text-align: center;
}
.header .items {
  display: flex;
}
.header h1 {
  color: white;
  flex: 1;
}

.errors {
  background-color: #EE5522;
  color: white;
  display: none;
}

.header.error .errors {
  display: block;
}
