.chat {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #171d20;
  background-image: url('../../../../assets/images/chat-bg.svg');
}

app-chatbody {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
